/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 62.2%;
  margin: 0 auto;
}

/*=================================
  main styling starts here
=================================*/
/* start section start here */
.started {
  background: linear-gradient(to right, #574876, #783E79)
}

.started .wrapper {
  display: flex;
  padding: 150px 0 70px;
}

.wrapper h2 {
  padding: 0 50px 0 0;
  border-right: 2px solid #675570;
  font-size: 28px;
  color: #fff;
  font-weight: 600;
  flex-basis: 50%;
}

.wrapper .lower {
  text-transform: capitalize;
}

.wrapper h2 span {
  text-transform: uppercase;
}

.start-content {
  flex-basis: 50%;
  padding-left: 40px;
}

.start-content p {
  font-size: 14px;
  color: #B29DBC;
  line-height: 20px;
  font-weight: 600;
}

.content-btn {
  padding-top: 15px;
}

.content-btn a {
  text-transform: uppercase;
  padding: 11px 29px;
  background-color: #49BE8B;
  border-radius: 25px;
  font-size: 9px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.content-btn a:hover {
  background-color: #fff;
  color: #49BE8B;
  border: 1px solid #49BE8B;
}

/* start section end here */
/* more section start here */
.more {
  border-bottom: 1px solid #E1E1E1;
}

.more .wrapper {
  display: flex;
  padding: 62px 0 57px;
}

.more .wrapper .more-content h3 {
  font-size: 22px;
  text-transform: capitalize;
  padding: 10px 0 28px;
  color: #5C5C5C;
  font-weight: 600;
}

.more-content p {
  font-size: 12px;
  line-height: 2;
  padding-right: 10px;
  /* color: #948A82; */
  color: #767676;
}

.more-content {
  flex-basis: 50%;
  border-right: 2px solid #E4E4E4;
  padding-right: 47px;

}

.more-btn {
  padding-top: 20px;
}

.more .more-btn a {
  text-transform: uppercase;
  padding: 10px 29px;
  background-color: #fff;
  border-radius: 25px;
  font-size: 10px;
  color: #63686B;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid #CFCFCF;
  transition: all 0.3s;
}

.more .more-btn a:hover {
  color: #fff;
  background-color: #63686B;
}

.more-list {
  flex-basis: 50%;
  padding-left: 40px;
}

.more-list li {
  display: inline-block;
  list-style-type: none;
  font-size: 13px;
  line-height: 46px;
  color: #767676;
}

.more-list li::before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #41AA7D;
  padding-right: 10px;
}

/* more section end here */
/* detail section starts here */
.detail-list {
  display: flex;
  flex-direction: column;
  padding-top: 61px;
}

.detail-list li {
  display: flex;
  margin-bottom: 37px;
  box-shadow: 1px 1px 10px 0 #CDCDCD;
}

.detail-content h4 {
  font-size: 16px;
  color: #5B5F68;
  font-weight: 600;
  padding: 66px 0 20px;
}

.detail-content h4 span {
  text-transform: capitalize;
}

.detail-content p {
  font-size: 11px;
  color: #86868a;
  line-height: 25px;
}

.detail-content {
  padding: 0 37px;
}

.detail-list li figure{
  width: 61%;
}

.detail-btn{ padding: 25px 0 10px;}

.detail-btn a{
  text-transform: uppercase;
  padding: 10px 27px;
  background-color: #fff;
  border-radius: 25px;
  font-size: 9px;
  color: #626263;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid #CFCFCF;
  transition: all 0.3s;
}

.detail-btn a:hover{
  color: #fff;
  background-color: #626263;
}

.next-btn a{
  text-transform: uppercase;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 25px;
  font-size: 9px;
  color: #5C5F61;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid #CFCFCF;
  transition: all 0.3s;
}

.next-btn a:hover{
  color: #fff;
  background-color: #5C5F61;
}

.next-btn{
  text-align: center;
  padding-bottom: 60px;
}
/* detail section end here */
/* contact section start here */




/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/







/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}